.js-hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;

  .hero-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &.bg-landing {
    background-image: url('../../../assets/images/HeroImage@2x.png');
  }
  &.bg-building {
    background-image: url('../../../assets/images/building/we_are_building.png');
  }
  &.bg-not-found {
    background-image: url('../../../assets/images/404/not_found.jpg');
  }

  button {
    font-size: 1.2em;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
